.font-norm {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

.font-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.font-sans {
  font-family: sans-serif;
  line-height: 1.5rem;
}

.body-bgc {
  background-color: rgb(240, 240, 240);
}

.header-bgc {
  background-color: rgb(86, 43, 129);
  color: white;
}

.width-100 {
  width: 100%;
}

.object-fit {
  object-fit: contain;
}

.input-style {
  padding: 7px;
  border-radius: 7px;
  border-width: 1px;
}

.save-right {
  float: right;
  padding: 4px 20px;
  background-color: rgb(86, 43, 129);
  border-radius: 5px;
  color: white;
  border-width: 1px;
  font-size: 1rem;
}

.margin-tb {
  margin: 8px 0;
}

.margin-tb-5 {
  margin: 5px 0;
}

.margin-top {
  margin-top: 0;
}

.margin-bottom {
  margin-bottom: 8px;
}

input[type="text"] {
  font-size: 1rem;
  font-weight: thin;
}

textarea {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: thin;
}

.inline {
  display: inline;
}

.margin-left-15 {
  margin-left: 15px;
}

.new-btn {
  float: right;
  margin-top: 12px;
  padding: 4px 10px;
  background-color: rgb(86, 43, 129);
  border-radius: 5px;
  color: white;
  border-width: 1px;
  font-size: 1rem;
}

.margin-btm {
  margin-bottom: 20px;
}

.margin-top-12 {
  margin-top: 10px;
}

.a-tag {
  color: white;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

.right {
  float: right;
  font-size: larger;
  color: rgb(86, 42, 129);
}

.delete-button {
  background: none;
  border: none;
  padding: 0;
  color: red;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}

.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(50 50 50 / 85%);
}

.modal-content {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 20vh;
  margin: 250px 525px;
  padding: 0;
  border-radius: 5px;
}

.modal-button {
  padding: 8px;
  color: black;
  background-color: #b6b6b6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  float: left;
  margin-right: 100px;
}

.modal-button-2 {
  padding: 8px;
  color: white;
  background-color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  float: right;
}

.space {
  justify-content: space-between;
}
