.font-norm {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

.font-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.font-sans {
  font-family: sans-serif;
  line-height: 1.5rem;
}

.body-bgc {
  background-color: rgb(240, 240, 240);
}

.header-bgc {
  background-color: rgb(86, 43, 129);
  color: white;
}

.width-100 {
  width: 100%;
}

.object-fit {
  object-fit: contain;
}

.input-style {
  padding: 7px;
  border-radius: 7px;
  border-width: 1px;
}

.save-right {
  float: right;
  padding: 4px 20px;
  background-color: rgb(86, 43, 129);
  border-radius: 5px;
  color: white;
  border-width: 1px;
  font-size: 1rem;
}

.margin-tb {
  margin: 8px 0;
}

.margin-tb-5 {
  margin: 5px 0;
}

.margin-top {
  margin-top: 0;
}

.margin-bottom {
  margin-bottom: 8px;
}

input[type="text"] {
  font-size: 1rem;
  font-weight: thin;
}

textarea {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: thin;
}

.inline {
  display: inline;
}

.margin-left-15 {
  margin-left: 15px;
}

.new-btn {
  float: right;
  margin-top: 12px;
  padding: 4px 10px;
  background-color: rgb(86, 43, 129);
  border-radius: 5px;
  color: white;
  border-width: 1px;
  font-size: 1rem;
}

.margin-btm {
  margin-bottom: 20px;
}

.margin-top-12 {
  margin-top: 10px;
}

.a-tag {
  color: white;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

.right {
  float: right;
  font-size: larger;
  color: rgb(86, 42, 129);
}
